body{
    overflow-x: hidden;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1 !important;
  }
.header_left{
    height: 10vh;
    width: auto;
    z-index: 5 !important;
    text-align: center;
    font-size: 34pt;
    color: #111;
    font-weight: 00;
    line-height: normal;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 50px;
    }



.white_square{
    background-color: #D9D9D9;
    z-index: 2;
    width: 1000px;
    height: 100px;
    transform: rotate(-45deg);  
    position: relative;
    left: -200px;
    top: 0px;
    transition: all 0.4s ease;
    animation: pulse 2s infinite;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 0 rgba(233, 10, 10, 0.7);
	}
    25%{
        transform: scale(1);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 10px rgba(255, 217, 0, 0);

    }

    50%{
        transform: scale(0.95);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 0 rgba(15, 0, 224, 0.808)
    }
    60%{
        transform: scale(1);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 10px rgba(255, 217, 0, 0);
    }
	75% {
        transform: scale(0.95);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 0 rgba(224, 202, 0, 0.808)
	}

	100% {
		transform: scale(1);
        transform: rotate(-45deg);  
		box-shadow: 0 0 0 0 rgba(0, 17, 255, 0);
	}
}

.white_square.modal-open {
    transform: translate(-50%, -50%) scale(0.7);
    left: 78%; /* Adjust the desired horizontal position */
    top: 60px; 
    border-radius: 50%;
    background-color: #ffffff; /* Set the background color to match your design */
    width: 100px; /* Adjust the width of the blobbish sphere */
    height: 100px; /* Adjust the height of the blobbish sphere */
    z-index: 6; 
    animation: none;
  }


.JoshHobson{
    font-size: 36pt !important; 
    color: #d9d9d9;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;

}
.newlogo_container{
    position: absolute;
    top: 1000px;
    left: -50px;
}
.newlogo{
    position: absolute;
    z-index: 5; 
    width: 650px;
    margin-left: -100px;
}  