body{
    overflow-x: hidden;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1 !important;
  }
.header_left{
    height: 10vh;
    width: auto;
    z-index: 5 !important;
    text-align: center;
    font-size: 34pt;
    color: #111;
    font-weight: 00;
    line-height: normal;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 50px;
    }
.header_right{
height: 10vh;
width: auto;
z-index: 10 !important;
text-align: center;
font-size: 28pt;
color: #111;
font-weight: 00;
line-height: normal;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: rgb(255, 255, 255);
display: flex;
justify-content: flex-end;
padding: 50px;
}
.header_shell{
    display: flex;
    justify-content: space-between;
}


.white_square{
    background-color: #D9D9D9;
    z-index: 2;
    width: 1000px;
    height: 100px;
    transform: rotate(-45deg);  
    position: relative;
    left: -270px;
    transition: all 0.4s ease;
    
}
.white_square.modal-open {
    transform: translate(-50%, -50%) scale(0.7);
    left: 78%; /* Adjust the desired horizontal position */
    top: 20%; /* Adjust the desired vertical position */
    border-radius: 50%;
    background-color: #ffffff; /* Set the background color to match your design */
    width: 100px; /* Adjust the width of the blobbish sphere */
    height: 100px; /* Adjust the height of the blobbish sphere */
    z-index: 6;
  }



.JoshHobson{
    font-size: 36pt !important; 
    color: #d9d9d9;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
}
.newlogo_container{
    position: absolute;
    top: 1000px;
    left: -50px;
}
.newlogo{
    position: absolute;
    z-index: 5; 
    width: 650px;
    margin-left: -100px;
}